openapi: 3.0.3
info:
  title: API.Rasp.Yandex.Net
  description: API Яндекс.Расписаний
  version: 3.0.0
servers:
- url: https://api.rasp.yandex.net
externalDocs:
  description: "Документация по API"
  url: "https://yandex.ru/dev/rasp/doc/ru/"
paths:

  /v3.0/stations_list/:
    get:
      tags:
      - getStationsList
      summary: Ресурс содержит полный список станций, информацию о которых предоставляют Яндекс Расписания.
      operationId: getStationsList
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
          enum:
            - xml
            - json
          default: json
      - name: lang
        in: query
        description: Код языка и страны в ISO639 и ISO3166 (пример ru_RU)
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StationsList'
            text/html:
              schema: {}
                
components:
  schemas:
    
    StationsList:
      type: object
      properties:
        countries:
          type: array
          items:
            $ref: '#/components/schemas/Country'
            
    Country:
      type: object
      properties:
          regions:
            type: array
            items:
                $ref: '#/components/schemas/Region'
          title:
            type: string

          
    Region:
        type: object
        properties:
          settlements:
            type: array
            items:
                $ref: '#/components/schemas/SingleSettlement'
            
    SingleSettlement:
        type: object
        properties:
          title:
            type: string
          stations:
            type: array
            items:
                $ref: '#/components/schemas/DetailedStation'
                
    DetailedStation:
        type: object
        properties:
          title:
            type: string
          transport_type:
            type: string
