openapi: 3.0.3
info:
  title: API.Rasp.Yandex.Net
  description: API Яндекс.Расписаний
  version: 3.0.0
servers:
- url: https://api.rasp.yandex.net
externalDocs:
  description: "Документация по API"
  url: "https://yandex.ru/dev/rasp/doc/ru/"
paths:

  /v3.0/stations_list/:
    get:
      tags:
      - getStationsList
      summary: Ресурс содержит полный список станций, информацию о которых предоставляют Яндекс Расписания.
      operationId: getStationsList
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
          enum:
            - xml
            - json
          default: json
      - name: lang
        in: query
        description: Код языка и страны в ISO639 и ISO3166 (пример ru_RU)
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StationsList'
            text/html:
              schema: {}
              
  /v3.0/search/:
    get:
      tags:
      - search
      summary: Запрос позволяет получить список рейсов, следующих от указанной станции отправления к указанной станции прибытия и информацию по каждому рейсу.
      operationId: search
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: from
        in: query
        description: Код станции отправления. Должен быть указан в системе кодирования.
        required: true
        schema:
          type: string
      - name: to
        in: query
        description: Код станции прибытия. Должен быть указан в системе кодирования.
        required: true
        schema:
          type: string
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
          enum:
            - xml
            - json
          default: json
      - name: lang
        in: query
        description: Код языка и страны в ISO639 и ISO3166 (пример ru_RU)
        required: false
        schema:
          type: string
      - name: date
        in: query
        description: Дата, на которую необходимо получить список рейсов. Должна быть указана в формате, соответствующем стандарту ISO 8601. Например, YYYY-MM-DD.
        required: false
        schema:
          type: string
      - name: transport_types
        in: query
        description: Тип транспортного средства.
        required: false
        schema:
          type: string
      - name: system
        in: query
        description: Система кодирования, в которой указывается код станции отправления и код станции прибытия (параметры from, to) в запросе.
        required: false
        schema:
          type: string
      - name: show_systems
        in: query
        description: Система кодирования, коды которой следует добавить к описанию станций в результатах поиска (элемент codes, вложенный в элементы from и to).
        required: false
        schema:
          type: string
      - name: offset
        in: query
        description: Смещение относительно первого результата поиска.
        required: false
        schema:
          type: number
      - name: limit
        in: query
        description: Максимальное количество результатов поиска в ответе.
        required: false
        schema:
          type: number
      - name: add_days_mask
        in: query
        description: Признак, который указывает, что для каждой нитки в ответе следует вернуть календарь хождения — элемент schedule, вложенный в элемент segments.
        required: false
        schema:
          type: boolean
      - name: result_timezone
        in: query
        description: Часовой пояс, для которого следует указывать даты и времена в ответе. Если параметр не передан, каждая дата и время в ответе будут указаны в часовом поясе соответствующей станции.
        required: false
        schema:
          type: string
      - name: transfers
        in: query
        description: Признак, разрешающий добавить к результатам поиска маршруты с пересадками.
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Routes'
                
components:
  schemas:
    
    StationsList:
      type: object
      properties:
        countries:
          type: array
          items:
            $ref: '#/components/schemas/Country'
            
    Country:
      type: object
      properties:
          regions:
            type: array
            items:
                $ref: '#/components/schemas/Region'
          title:
            type: string

          
    Region:
        type: object
        properties:
          settlements:
            type: array
            items:
                $ref: '#/components/schemas/SingleSettlement'
            
    SingleSettlement:
        type: object
        properties:
          title:
            type: string
          stations:
            type: array
            items:
                $ref: '#/components/schemas/DetailedStation'
                
    DetailedStation:
        type: object
        properties:
          codes:
            $ref: '#/components/schemas/StationCode'
          title:
            type: string
          transport_type:
            type: string
            
    StationCode:
      type: object
      properties:
        yandex_code:
          type: string
          nullable: true
          
    Routes:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        interval_segments:
          type: array
          items:
            $ref: '#/components/schemas/IntervalSegment'
        segments:
          type: array
          items:
            $ref: '#/components/schemas/Segment'
        search:
          $ref: '#/components/schemas/Search'
          
    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
          
    IntervalSegment:
      type: object
      properties:
        from:
          $ref: '#/components/schemas/Station'
        thread:
          $ref: '#/components/schemas/Thread'
        departure_platform:
          type: string
        departure:
          type: string
        stops:
          type: string
        departure_terminal:
          type: string
        to:
          $ref: '#/components/schemas/Station'
        transfers:
            type: array
            items:
                $ref: '#/components/schemas/Transfers'
        has_transfers:
          type: boolean
        details:
            type: array
            items:
                $ref: '#/components/schemas/Details'
        tickets_info:
          $ref: '#/components/schemas/TicketsInfo'
        duration:
          type: integer
        arrival_terminal:
          type: string
        start_date:
          type: string
        arrival_platform:
          type: string
          
    Segment:
      allOf:
        - $ref: '#/components/schemas/IntervalSegment'
        - type: object
          properties:
            arrival:
              type: string
            departure:
              type: string
              
    Search:
      type: object
      properties:
        date:
          type: string
        to:
          $ref: '#/components/schemas/StationType'
        from:
          $ref: '#/components/schemas/StationType'
          
    Station:
      allOf:
        - $ref: '#/components/schemas/StationType'
        - type: object
          properties:
            lat:
              type: number
            lng:
              type: number
            station_type:
              type: string
            station_type_name:
              type: string
            transport_type:
              type: string
            distance:
              type: number
            majority:
              type: integer
            type_choices:
              $ref: '#/components/schemas/Schedule'
    Schedule:
      type: object
      properties:
        desktop_url:
          type: string
        touch_url:
          type: string
          
    Thread:
      type: object
      properties:
        uid:
          type: string
        title:
          type: string
        interval:
          $ref: '#/components/schemas/Interval'
        number:
          type: string
        short_title:
          type: string
        thread_method_link:
          type: string
        carrier:
          $ref: '#/components/schemas/Carrier'
        transport_type:
          type: string
        vehicle:
          type: string
        transport_subtype:
          $ref: '#/components/schemas/TransportSubtype'
        express_type:
          type: string
          
    TicketsInfo:
      type: object
      properties:
        et_marker:
          type: boolean
        places:
          type: array
          items:
            $ref: '#/components/schemas/Places'
            
    Places:
      type: object
      properties:
        currency:
          type: string
        price:
          $ref: '#/components/schemas/Price'
        name:
          type: string
          
    Price:
      type: object
      properties:
        cents:
          type: integer
        whole:
          type: integer
          
    Interval:
      type: object
      properties:
        density:
          type: string
        end_time:
          type: string
        begin_time:
          type: string
          
    TransportSubtype:
      type: object
      properties:
        color:
          type: string
        code:
          type: string
        title:
          type: string
          
    Carrier:
      type: object
      properties:
        code:
          type: integer
        contacts:
          type: string
        url:
          type: string
        logo_svg:
          type: string
        title:
          type: string
        phone:
          type: string
        codes:
          $ref: '#/components/schemas/Codes'
        address:
          type: string
        logo:
          type: string
        email:
          type: string
          
    Details:
      type: object
      properties:
        duration:
          type: number
          
    Transfers:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        short_title:
          type: string
        popular_title:
          type: string
        code:
          type: string
        station_type:
          type: string
        station_type_name:
          type: string
        transport_type:
          type: string
          
    Codes:
      type: object
      properties:
        icao:
          type: string
        sirena:
          type: string
        iata:
          type: string
          
    StationType:
      type: object
      properties:
        code:
          type: string
        type:
          type: string
        popular_title:
          type: string
        short_title:
          type: string
        title:
          type: string
          
  


